<%= form_with(model: workpermit, local: true) do |form| %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Status</td>
    </tr>
    <tr>
      <td><%= text_field :workpermit, :first_name %> </td>
      <td><%= text_field :workpermit, :last_name %> </td>
      <td><%= text_field :workpermit, :start_date %> </td>
      <td><%= text_field :workpermit, :end_date %> </td>
      <td><%= text_field :workpermit, :status %> </td>
    <tr>
</tbody>
</table>
  <% if workpermit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workpermit.errors.count, "error") %> prohibited this workpermit from being saved:</h2>

      <ul>
      <% workpermit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
